@model List<Lab.EF.MVC.Models.CategoryViewModel>
@{
    ViewBag.Title = "Categorias";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Eliminar</td>
        <td>Editar</td>
    </tr>
    @foreach (var item in Model) {

        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Editar", "UpdateInsert", new { id = item.Id })
            </td>

        </tr>
    }
</table>
<p>@Html.ActionLink("Agregar Empleado", "UpdateInsert", new { id = 0 })</p>