@model List<Lab.EF.MVC.Models.EmployeeViewModel>
@{
    ViewBag.Title = "Empleados";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Acciones</td>
    </tr>
    @foreach (var item in Model) {

        <tr>
            <td>@item.Id</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id },new { onclick = "return confirm('seguro')", @class = "btn btn-danger btn-sm" })
                @Html.ActionLink("Editar", "UpdateInsert", new { id = item.Id }, new {@class = "btn btn-primary btn-sm" })
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Agregar Empleado","UpdateInsert", new { id = 0 }, new { @class = "btn btn-primary"})</p>

